.banner {
    opacity: 75%;
    top: 0px;
    position: fixed;
    clip-path: inset(150px 0px);
}

@media screen and (max-width: 499px) {
    .banner {
        left: -450px;
        top: 25px;
        clip-path: inset(100px 0px);
    }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
    .banner {
        top: -80px;
        left: -450px;
    }
}

app-poem {
    opacity: 1;
}