span {
    /* padding: 5vh; */
    color: #ffffff;
    position: relative;
    left: 20px;
    top: 1vh;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    color: #ff0000;
}

.subtitle {
    font-size: 12px;
}

pre {
    font-family: monospace;
    font-size: 13px;
}